/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : Jul 26, 2022, 7:37:21 PM
    Author     : Admin
*/

.center{
    width: 80%;
    margin: 0 auto;
}

.mg-top-header{
    margin-top: 74px;
}

.form-comment{
    padding: 20px 0;
    width: 80%;
    margin: 0 auto;
}

.col-md-4, .col-xs-6{
    
    padding-left: 0px !important;
}

.btn-submit{
    margin-top: 20px;
}

.comment-item{
    margin: 15px 0;
    display: flex;
}